@model SCM.ServiceRequest

@{
    ViewBag.Title = "Create";
}

<h2>@AppViews.Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@AppViews.ServiceRequest</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-inline">
                    @Html.HiddenFor(x => x.CustomerId, new { htmlAttributes = new { @class = "form-control" } })
                    @if (Model != null && Model.Customer != null)
                    {
                        <input type="text" id="Customer_Name" value="@Model.Customer.Name" readonly class="form-control" />
                    }
                    else
                    {
                        <input type="text" id="Customer_Name" value="" class="form-control" readonly />
                    }
                    <span>
                        <a class="btn btn-default" id="btnFind" href="#"><span class="glyphicon glyphicon-search"></span></a>
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="text" id="RequestDate" name="RequestDate" class="form-control" value='@Model.RequestDate.ToString("dd/MM/yyyy HH:mm")' />
                @Html.ValidationMessageFor(model => model.RequestDate, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentId, AppViews.Department, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartmentId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control", rows="5" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Remarks, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
            </div>
        </div>

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@AppViews.Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(AppViews.BackToList, "Index", null, htmlAttributes: new { @class = "btn btn-default" })
</div>

<div class="modal fade" id="findCustomer" tabindex="-1" role="dialog" aria-labelledby="findCustomer-label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="findCustomer-label">@AppViews.Customers</h4>
            </div>
            <div class="modal-body">
                <div id="findCustomerForm"></div>
                @*<div id="loader_with_image" class="text-center">
                    <img src="~/Content/ajax-loader.gif" />
                </div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@AppViews.Close</button>
                <a class="btn btn-primary save" href='#'>@AppViews.Save</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>

        // FOR AJAX PAgedList MVC
        function callCustomers(page) {
            var listId = '#findCustomerForm';
            var url = '/Customers/FindCustomer?page=' + page;

            $.ajax(
            {
                type: 'GET',
                url: url,
                success: function (result) {

                    $(listId).html(result);
                    updateCustomerClicks();
                }
            }
            );
        }

        //$(document).ajaxStart(function () {
        //    $("#loader_with_image").show();
        //}).ajaxComplete(function () {
        //    $("#loader_with_image").hide();
    //});

        function updateCustomerClicks() {
            $("tr.cname td a").click(function (e) {
                var id = $(this).data("id");
                
                    

                $("#SelectedCustomer").val(id);
                $("tr.cname").removeClass("active");
                $(this.parentElement.parentElement).addClass("active");
            });
        }

        $(function () {
            if ($("#CustomerId").val() === "0")
                $("#CustomerId").val('');

            // Validator
            $.validator = $("form").validate({
                rules: {
                    RequestDate: { required: true, date: true }
                }
            });

            // FOR MODAL FIND

                $("#btnFind").click(function (e) {
                    e.preventDefault();


                    var url = '/Customers/FindCustomer';

                    $("#findCustomer").modal("toggle");


                    $.ajax({
                        method: 'GET',
                        url: url,
                        
                        error: function (xhr, status, error) {
                            var err = eval("(" + xhr.responseText + ")");
                            alert(err.Message);
                        },
                        success: function (result) {
                            $("#findCustomerForm").html(result);
                            updateCustomerClicks();
                            
                        }
                    });

                });

                $('#findCustomer').on('show.bs.modal', function (e) {
                });

                $(".save").click(function (e) {
                    var id = $("#SelectedCustomer").val();
                    var url = '@Url.Action("GetCustomer", "Customers")';

                    $.ajax({
                        url: url,
                        data: { id: id },
                        dataType: "json",
                        method: 'GET',
                        error: function (xhr, status, error) {
                            var err = eval("(" + xhr.responseText + ")");
                            alert(err.Message);
                        },
                        success: function (result) {
                            $("#CustomerId").val(result.Id);
                            $("#Customer_Name").val(result.Name);
                            $("#findCustomer").modal('toggle');                            
                        }
                    });

                });

            //moment().locale('ar-sa');
          // Date Range Config
                var rd = $("#RequestDate").val();
                if (rd === "")
                    rd = '@DateTime.Now';
                $('input[name="RequestDate"]').daterangepicker({
                    startDate: rd,
                    endDate: rd,
                    format: "DD/MM/YYYY HH:mm",                    
                    timePicker: true,
                    separator: "/",
                    timePicker12Hour: false,
                    singleDatePicker: true,
                    timePickerIncrement: 1,
                    showDropdowns: true
                    },
                    function (start, end, label) {
                        // alert(start);
                    });

             // Date Range Config
                $('input[name="StatusDate"]').daterangepicker({

                    format: "DD/MM/YYYY",
                    singleDatePicker: true,
                    showDropdowns: true
                },
                    function (start, end, label) {
                        // alert(start);
                    });

            // Date Range Config
                $('input[name="ClosingDate"]').daterangepicker({

                    format: "DD/MM/YYYY",
                    singleDatePicker: true,
                    showDropdowns: true
                },
                    function (start, end, label) {
                        // alert(start);
                    });

            });
</script>
}
