@model PagedList.IPagedList<SCM.ServiceRequest>
@using PagedList.Mvc


@{
    ViewBag.Title = "Index";
}

<h2>@AppViews.ServiceRequests</h2>

<div class="row">
    @if (SCM.Utils.PageUtils.IsArabic())
    {

        <div class="pull-left">
            <a id="createBtn" class="btn btn-sm btn-primary" href='/ServiceRequests/Create'><span class="glyphicon glyphicon-plus">&nbsp;</span> @AppViews.Create</a>
            &nbsp;
            <a class="btn btn-sm btn-primary" href="javascript:collectFilter()"><span class="glyphicon glyphicon-filter">&nbsp;</span> @AppViews.Apply</a>
            &nbsp;
            <a class="btn btn-sm btn-primary" href="javascript:applyReset()"><span class="glyphicon glyphicon-refresh">&nbsp;</span> @AppViews.Reset</a>
            &nbsp;

            @if (Request.IsAuthenticated)
            {
                <a class="btn btn-sm btn-primary" href='~/ReportPage.aspx?r=cached'><span class="glyphicon glyphicon-print">&nbsp;</span>@AppViews.RPT_Requests</a>
                <span>&nbsp;</span>
                <a class="btn btn-sm btn-success" href="javascript:takeCall()"><span class="glyphicon glyphicon-phone-alt">&nbsp;</span> @AppViews.TakeIn</a>
            }
        </div>
    }
    else
    {
        <div class="pull-right">
            <a id="createBtn" class="btn btn-sm btn-primary" href='/ServiceRequests/Create'><span class="glyphicon glyphicon-plus">&nbsp;</span> @AppViews.Create</a>        
            &nbsp;
            <a class="btn btn-sm btn-primary" href="javascript:collectFilter()"><span class="glyphicon glyphicon-filter">&nbsp;</span> @AppViews.Apply</a>
            &nbsp;
            <a class="btn btn-sm btn-primary" href="javascript:applyReset()"><span class="glyphicon glyphicon-refresh">&nbsp;</span> @AppViews.Reset</a>
            &nbsp;

            @if (Request.IsAuthenticated)
            {
                <a class="btn btn-sm btn-primary" href="~/Report.aspx?r=cached"><span class="glyphicon glyphicon-print">&nbsp;</span>@AppViews.RPT_Requests</a>
                <span>&nbsp;</span>
                <a class="btn btn-sm btn-success" href="javascript:takeCall()"><span class="glyphicon glyphicon-phone-alt">&nbsp;</span> @AppViews.TakeIn</a>
            }
        </div>
    }
</div>

<div class="row">
    <div class="col-md-8">
        @Html.Partial("_RequestsPart", Model)
    </div>
    <div class="col-md-4">
        @Html.Partial("_FilterPart")
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/SCM/scm-requests.js"></script>

    <script>
        function createUrl() {
            var url = '/ServiceRequests/Create?qin=' + $("#QIN").val();
            var phone = $("#phone").val();
            if (phone != '')
            {
                url = url + '&phone=' + phone;
            }
            $("#createBtn").attr("href", url);
        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = e.relatedTarget.hash + 'List';
                $(target).empty();
            })

            $("#allRequests").click(function (e) {
                $("#status").val("all");
                collectFilter();
                callRequestTab(e, '@Url.Action("Requests", new { status = "all" })', '#allList');
            });
            $("#pendingRequests").click(function (e) {
                $("#status").val("pending");
                collectFilter();
                callRequestTab(e, '@Url.Action("Requests", new { status = "pending" })', '#pendingList');
            });
            $("#delayedRequests").click(function (e) {
                $("#status").val("delayed");
                collectFilter();
                callRequestTab(e, '@Url.Action("Requests", new { status = "delayed" })', '#delayedList');
            });
            $("#activeRequests").click(function (e) {
                $("#status").val("active");
                collectFilter();
                callRequestTab(e, '@Url.Action("Requests", new { status = "active" })', '#activeList');
            });
            $("#closedRequests").click(function (e) {
                $("#status").val("closed");
                collectFilter();
                callRequestTab(e, '@Url.Action("Requests", new { status = "closed" })', '#closedList');
            });

            $(".filterSort").click(function (e) {
                $(".filterSort").removeClass("active");
                $(this).addClass("active");
            });

            $(".filterSortDir").click(function (e) {
                $(".filterSortDir").removeClass("active");
                $(this).addClass("active");
            });

            $(".filterDuration").click(function (e) {
                $(".filterDuration").removeClass("active");
                $(this).addClass("active");
            });

            //$("#city").focusin(function () {
            //    $(this).data('val', $(this).val());
            //});

            $("#city").change(function (e) {
                var id = $("#city").val();
                var url = '@Url.Action("GetRegions", "Customers")';

                $("#region").empty();

                $.ajax({
                    contentType: 'application/json',
                    method: 'GET',
                    url: url,
                    data: { cityId: id },
                    success: function (result) {
                        if (result != null && result.length > 0) {

                            var html = '<option selected="true" value=""></option>';
                            for (var i = 0; i < result.length; i++) {
                                var str = '<option value="' + result[i].Id + '">' + result[i].Name + '</option>';
                                html = html + str;
                            }
                            $("#region").html(html);
                        }
                    }
                });
            });

            updateTotals();
        });

        function takeCall() {
            var url = '@Url.Action("TakeCall")';
            $.ajax(
             {
                 type: 'GET',
                 url: url,
                 success: function (result) {
                     if (result != null) {
                         resetFilters();

                         $("#QIN").val(result.Id);
                         $("#phone").val(result.CallerId);

                         collectFilter();
                         createUrl();
                     }
                 }
             }
             );
        }

        function resetFilters() {           
            $(".filterSort").removeClass("active");
            $("#sortLastDate").addClass("active");
            $(".filterSortDir").removeClass("active");
            $("#sortDesc").addClass("active");
            $(".filterDuration").removeClass("active");
            $(".filterDepartment").each(function (index, elem) { elem.checked = false; });
            $("#filterAll").addClass("active");
            $("#customerName").val('');
            $("#phone").val('');
            $("#code").val('');
            $("#receipt").val('');
            $("#product").val('');
            $("#engineer").val('');
            $("#model").val('');
            $("#sn").val('');
            $("#status").val('all');
            $("#city").val('');
            $("#region").val('');
            $(".tag").each(function (index, elem) { elem.checked = false; });

        }

        function applyReset() {
            resetFilters();
            $('#allRequests').tab('show');
            collectFilter();
            
            //callRequestTab(e, '@Url.Action("Requests", new { status = "all" })', '#allList');
        }

        function collectFilter(page) {
            var pg = page;
            if (pg == null)
                pg = 1;

            var filterSort = $(".filterSort.active").data("id");

            var filterSortDir = $(".filterSortDir.active").data("id");

            var filterDuration = $(".filterDuration.active").data("id");

            var filterDepartment = '';
            $(".filterDepartment").each(function (index, elem) {
                if(elem.checked)
                {
                    filterDepartment = filterDepartment + $(this).data("id") + ',';
                }
            });
            if (filterDepartment != null)
            {
                filterDepartment = filterDepartment.substr(0, filterDepartment.length - 1);
            }

            var filterTags = '';
            $(".tag").each(function (index, elem) {
                if (elem.checked) {
                    filterTags = filterTags + $(this).data("id") + ',';
                }
            });
            if (filterTags != null) {
                filterTags = filterTags.substr(0, filterTags.length - 1);
            }

            var customerName = $("#customerName").val();
            var phone = $("#phone").val();
            var city = $("#city").val();
            var region = $("#region").val();
            var code = $("#code").val();
            var receipt = $("#receipt").val();
            var product = $("#product").val();
            var engineer = $("#engineer").val();
            var model = $("#model").val();
            var sn = $("#sn").val();
            var tags = filterTags
            var status = $("#status").val();
            // var status = "all";
            var listId = "";
            if(status == "all")
                listId = '#allList';
            else if (status == "active")
                listId = '#activeList';
            else if (status == "pending")
                listId = '#pendingList';
            else if (status == "delayed")
                listId = '#delayedList';
            else if (status == "closed")
                listId = '#closedList';
            else
                listId = '#allList';

            var url = '/ServiceRequests/Requests?page=' + pg + '&status=' + status + '&filterDuration=' + filterDuration + '&customerName=' + customerName + '&phone=' + phone + '&code=' + code + '&receipt=' + receipt + '&product=' + product + '&engineer=' + engineer + '&model=' + model + '&sn=' + sn + '&tags=' + tags + '&filterDepartment=' + filterDepartment + '&filterSort=' + filterSort + '&filterSortDir=' + filterSortDir + '&city=' + city + '&region=' + region;
            $.ajax(
             {
                 type: 'GET',
                 url: url,
                 success: function (result) {
                     $(listId).html(result);
                     updateTotals();
                     createUrl();
                 }
             }
             );


        }

    </script>
}