@model PagedList.IPagedList<SCM.Engineer>
@using PagedList.Mvc 
@using SCM.Models

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th></th>
                <th>
                    <a class="sorter" data-sort="Name" href="#">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                    </a>
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Phone)
                </th>
                <th>
                    <a class="sorter" data-sort="Department.Name" href="#">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().DepartmentId)
                    </a>
                </th>

                <th>
                    <a>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().IsActive)
                    </a>
                </th>
                <th>
                    <a>
                        <span class="glyphicon glyphicon-bookmark" title="@AppViews.StatusOpen">&nbsp</span>
                    </a>
                </th>
                <th>
                    <a>
                        <span class="glyphicon glyphicon-star" title="@AppViews.StatusPending">&nbsp</span>
                    </a>
                </th>

                <th>
                    <a>
                        <span class="glyphicon glyphicon-folder-close" title="@AppViews.StatusClosed">&nbsp</span>
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href='@Url.Action("Edit", new { id = item.Id})'><span class="glyphicon glyphicon-edit"></span></a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @item.PhoneFormatted()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.Name)
                    </td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <input type="checkbox" class="isActive" data-id="@item.Id" @(item.IsActive ? "checked" : "") />
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.IsActive);
                        }
                    </td>
                    <td>
                        @SCM.Utils.DataManager.Requests().Count(x => x.EngineerId == item.Id && x.StatusId == 10)
                    </td>
                    <td>
                        @SCM.Utils.DataManager.Requests().Count(x => x.EngineerId == item.Id && x.StatusId == 20)
                    </td>
                    <td>
                        @SCM.Utils.DataManager.Requests().Count(x => x.EngineerId == item.Id && x.StatusId == 100)
                    </td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                        <a href='@Url.Action("Delete", new { id = item.Id })'><span class="glyphicon glyphicon-trash"></span></a>
                        }
                        else
                        {
                            <span>&nbsp;</span>
                        }
                    </td>
                </tr>
            }
        </tbody>

    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => string.Format("javascript: callEngineers('{0}')", page))
</div>
