@model PagedList.IPagedList<SCM.Region>
@using PagedList.Mvc

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th></th>
                <th>
                    <a class="sorter" data-sort="Name" href="#">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                    </a>
                </th>
                <th>
                    <a class="sorter" data-sort="City.Name" href="#">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().CityId)
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href='@Url.Action("Edit", new { id = item.Id})'><span class="glyphicon glyphicon-edit"></span></a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City.Name)
                    </td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                        <a href='@Url.Action("Delete", new { id = item.Id })'><span class="glyphicon glyphicon-trash"></span></a>
                        }
                        else
                        {
                            <span>&nbsp;</span>
                        }
                    </td>
                </tr>
            }
        </tbody>

    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => string.Format("javascript: callRegions('{0}')", page))
</div>
