@model SCM.Customer


<h2>@AppViews.Delete</h2>

<h3>@AppViews.Delete_Message</h3>
<div>
    <h4>@AppViews.Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsBlackListed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBlackListed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@AppViews.Delete" class="btn btn-danger" /> |
            @Html.ActionLink(AppViews.BackToList, "Index",null, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    }
</div>
