
@{
    ViewBag.Title = AppViews.DataImport_Title;
}

<h2>@AppViews.DataImport_Title</h2>
<hr />
<form id="f" action='@Url.Action("UploadRequests")' method="post" enctype="multipart/form-data">
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label(AppViews.DataImport_RequestsFile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <input name="requestsFile" class="form-control" type="file" accept=".xlsx" />
                <br />
                <div id="statusBar">
                    <div id="phase"></div>
                    <span id="status" class="progress-bar" role="progressbar" aria-valuenow="0"
                          aria-valuemin="0" aria-valuemax="100" style="width:0%">
                        0%
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="startProcess" class="btn btn-primary" type="submit" href="#">@AppViews.DataImport_Import</button>
            </div>
        </div>
    </div>

</form>

@section Scripts
{
    <script>
        function getStatus() {
            var url = '@Url.Action("GetProgress")';
            $.ajax(
             {
                 type: 'GET',
                 url: url,
                 success: function (result) {
                     var progress = '0';
                     var phase = '';

                     $("#statusBar").show();

                     if (result != null && result.length > 0) {

                         progress = result[0];
                         phase = result[1];

                        $('#status').css("width", progress + '%').attr('aria-valuenow', progress);
                        $('#status').html(' ' + progress + '%');
                        $('#phase').html(phase);
                     }
                     if (phase != 'done') {
                         window.setTimeout("getStatus()", 300);
                     }
                     else
                     {
                         $("#statusBar").hide();
                     }
                 }
             });
        }

        $(function () {

            $("#statusBar").hide();

            $('#startProcess').click(function () {
                
                getStatus();
                $("#f").submit();
                
            });

        });
    </script>    
}

