@model SCM.ServiceRequest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ServiceRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RQN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RQN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiptNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiptNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClosingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CancelReason.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CancelReason.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Center.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Center.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Engineer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Engineer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PendingReason.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PendingReason.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
