@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = SCM.Utils.PageUtils.GetLoginPullDirection() }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav @SCM.Utils.PageUtils.GetLoginPullDirection()">
        <li>
            @Html.ActionLink(User.Identity.GetUserName() , "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>        
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav @SCM.Utils.PageUtils.GetLoginPullDirection()">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>


    </ul>
}
